<div class="container">
    <h2><%= @article.title %></h2>
    <p><%= @article.body %></p>
</div>
<br>
<%= link_to "Edit this article", edit_article_path, class: "btn btn-primary" %>
<%= button_to "Delete", @article, method: :delete, class: "btn btn-danger" %>

<br>
<br>
<%= link_to "Back", articles_path, class:"btn btn-primary"%>
